

body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.app-container{  
    width: 700px;
    height: 450px;
    /* background-color: rgb(255, 166, 0, 0.7); */
    /* border: 1px solid orange; */

    background-image: url('https://previews.123rf.com/images/aluna1/aluna11911/aluna1191100085/134805223-sushi-food-graphic-orange-color-seamless-pattern-background-sketch-illustration-vector.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-size: 200px 200px;
    background-color: rgba(255, 255, 255, 0.1);

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding:  10px;
    display: flex;
    gap: 10px;
}

/* ----- 3 big sections ----------------- */
nav{
    width: 25%;
    height: 100%;
    /* border: 2px solid lightgreen; */
    box-shadow: 4px 4px 4px rgba(250, 163, 76, 0.5),
    -4px -4px 4px rgba(250, 163, 76, 0.5);

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    width: 40%;
    height: 100%;
    /* border: 2px solid red; */
    
}
aside{
    width: 30%;
    height: 100%;
    /* border: 2px solid darkorchid; */
    background-color: white;
    box-shadow: 4px 4px 4px rgba(250, 163, 76, 0.5),
    -4px -4px 4px rgba(250, 163, 76, 0.5);


    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

/* ---- navbar --------------- */


ul{
    box-sizing: border-box;
    margin: 0;
    padding: 0 5px;
    width: 100%;   
    display: flex;
    flex-direction: column;

}

li{ 

    list-style-type: none;
    margin: 10px 0;
    height: 40px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: rgba(255, 165, 0, 0.7);
    font-size: small;
    font-weight: bold
}

li:hover{
    background-color: orange;
    color: white;
}


/* ------ main section ------ */
main{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title{
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: 600;
    background-color:orange;
}

#title{
    font-size: 30px;
    margin-bottom: 5px;
}

#subtitle{
    font-size: 15px;
   margin-top: 5px;
   margin-bottom: 10px;
}


.menu-container{
    /* border: 1px solid blue; */
    background: white;
    flex: 1;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(250, 163, 76, 0.5),
    -4px -4px 4px rgba(250, 163, 76, 0.5);
  
               
    margin-bottom: 5px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    
}

.menu-item{
    box-sizing: border-box;
    /* border: 1px solid darkgoldenrod; */
    box-shadow: 2px 2px 4px rgba(184, 134, 11, 0.2),
    -2px -2px 4px rgba(184, 134, 11, 0.2);
    border-radius: 5px;
    margin: 5px 10px ;
    height: 45%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.menu-container::after{
    content: "";
    margin: 5px 10px ;
    height: 45%;
    width: 40%;
}

/* ------ menu subsection ---------- */


.menu-item img{
    height: 63%;
    
}

.info-wrapper{
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin-bottom: 5px;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.info-wrapper button{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    
}

.name-price{
    /* border: 1px solid purple; */
    box-sizing: border-box;
    height: 100%;
    margin: 0 5px;
    flex:1;
     
}

.name-price h5{
    margin: 0;
    margin-top: 3px;
    font-size: x-small;
}
.name-price h4{
    margin: 0
}

/* ------------ ASIDE SECTION---------------- */

aside{
    box-sizing: border-box;

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

aside h4{
    margin: 0 ;
    margin-top: 10px;
    /* background: lightgoldenrodyellow; */
}


/* -- cart subsection -- */
.cart-list{
    background: orange;
    flex:1;
    border-radius: 5px;

    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: scroll;

}

::-webkit-scrollbar {
        width: 0;
        opacity: 0.5;

}



.cart-list .cart-item{
    box-sizing: border-box;
    background: white;
    width: 100%;
    height: 50px;
    border-radius: 5px;

    padding: 5px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

 /* -- item inside cart item container */
.cart-item img{
    width: 20%;
    background: red;

}

.cart-item .item-name{
    /* background: blue; */
    padding-left: 5px;
    flex:1;
    
}

.item-name p{
    font-size: 70%;
}


.cart-item .item-price{
    /* background: green; */
    width: 30%;
}

.item-price p{
    font-size: 70%;
}



.cost{
    box-sizing: border-box;
    background: orange;
    border-radius: 5px;
    width: 100%;
    height: 30%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    gap: 5px;
}

.cost .pricing{
    padding: 5px;
    background: white;
    flex: 1;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    gap: 3px;
}

.charges .cost-title{
    color: gray;
    font-size: xx-small ;
}

.charges .cost-value{
    font-size: small ;
}


#Total{
    font-weight: 600;
    font-size: small;
}

button{
    box-sizing: border-box;
    outline: none;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    border-radius: 5px;
}
button:hover{
    
    border: 1px solid orange;
    background-color: white;
    color: orange;
    /* border-radius: 5px; */
}

#checkout-btn{
    border: 2px solid white;
}






    







/* :root{
    --main-color: orange;
    --sub-color: rgb(234, 229, 229);
    --third-color: rgb(20, 19, 19);

} */